

// this custom template from quasar
/*
  ===================================================
  FORM INPUT
  ===================================================
*/
.q-field__bottom {
  font-size: 10px;
  min-height: 15px !important;
  line-height: 1;
  color: rgba(0, 0, 0, 0.54);
  padding: 3px 10px 0 !important;
}
.q-field__message-col>div {
  font-size:10px !important;
}

.table-light{
  background-color: $primary-light;
}
.table-dark{
  background-color: $dark-light;
}
.left-primary-border{
    border-radius: 10px 0px 0px 10px;
    border-left: 3px solid $primary;
}

.menu-bar{
  width: calc(100%);
  z-index: 100;
  overflow: hidden;
}

.menu-button{
  margin-left:-15px ;
}

.halaman{
  margin-left: 25px;
}
