  @font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Montserrat-Medium.woff2')format('woff2'),
  url('./fonts/Montserrat-Medium.woff')format('woff');
  }
  @font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Montserrat-Regular.woff2')format('woff2'),
  url('./fonts/Montserrat-Regular.woff')format('woff');
  }
  @font-face {
  font-family: 'Montserrat-SemiBold';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Montserrat-SemiBold.woff2')format('woff2'),
  url('./fonts/Montserrat-SemiBold.woff')format('woff');
  }
  @font-face {
  font-family: 'Poppins-Medium';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Poppins-Medium.woff2')format('woff2'),
  url('./fonts/Poppins-Medium.woff')format('woff');
  }
  @font-face {
  font-family: 'Poppins-Black';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Poppins-Black.woff')format('woff');
  }
  @font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Poppins-Regular.woff2')format('woff2'),
  url('./fonts/Poppins-Regular.woff')format('woff');
  }
  @font-face {
  font-family: 'Poppins-BlackItalic';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Poppins-BlackItalic.woff')format('woff');
  }
  @font-face {
  font-family: 'Poppins-Bold';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Poppins-Bold.woff')format('woff');
  }
  @font-face {
  font-family: 'Poppins-BoldItalic';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Poppins-BoldItalic.woff')format('woff');
  }
  @font-face {
  font-family: 'Poppins-ExtraLight';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Poppins-ExtraLight.woff')format('woff');
  }
  @font-face {
  font-family: 'Poppins-ExtraLightItalic';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Poppins-ExtraLightItalic.woff')format('woff');
  }
  @font-face {
  font-family: 'Poppins-Italic';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Poppins-Italic.woff')format('woff');
  }
  @font-face {
  font-family: 'Poppins-Light';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Poppins-Light.woff2')format('woff2'),
  url('./fonts/Poppins-Light.woff')format('woff');
  }
  @font-face {
  font-family: 'Poppins-LightItalic';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Poppins-LightItalic.woff')format('woff');
  }
  @font-face {
  font-family: 'Poppins-MediumItalic';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Poppins-MediumItalic.woff')format('woff');
  }
  @font-face {
  font-family: 'Poppins-SemiBold';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Poppins-SemiBold.woff2')format('woff2'),
  url('./fonts/Poppins-SemiBold.woff')format('woff');
  }
  @font-face {
  font-family: 'Poppins-SemiBoldItalic';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Poppins-SemiBoldItalic.woff')format('woff');
  }
  @font-face {
  font-family: 'Poppins-Thin';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Poppins-Thin.woff2')format('woff2'),
  url('./fonts/Poppins-Thin.woff')format('woff');
  }
  @font-face {
  font-family: 'Poppins-ThinItalic';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Poppins-ThinItalic.woff')format('woff');
  }
