@font-face {
    font-family: "icons";
    src: url("./icons.woff?3fb79909ab09641d0bc4641c0882355b") format("woff"),
url("./icons.woff2?3fb79909ab09641d0bc4641c0882355b") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-clear:before {
    content: "\f101";
}
.icon-eva-bell-outline:before {
    content: "\f102";
}
.icon-eva-facebook:before {
    content: "\f103";
}
.icon-eva-google:before {
    content: "\f104";
}
.icon-eva-home-outline:before {
    content: "\f105";
}
.icon-eva-home:before {
    content: "\f106";
}
.icon-eva-message-circle-outline:before {
    content: "\f107";
}
.icon-eva-person-outline:before {
    content: "\f108";
}
.icon-eva-person:before {
    content: "\f109";
}
.icon-fa-xmark-solid:before {
    content: "\f10a";
}
.icon-ion-bell-outline:before {
    content: "\f10b";
}
.icon-ion-home-outline:before {
    content: "\f10c";
}
.icon-ion-home:before {
    content: "\f10d";
}
.icon-ion-person:before {
    content: "\f10e";
}
.icon-ion-timer:before {
    content: "\f10f";
}
.icon-mat-access_time:before {
    content: "\f110";
}
.icon-mat-account_balance_wallet:before {
    content: "\f111";
}
.icon-mat-account_circle:before {
    content: "\f112";
}
.icon-mat-add_box:before {
    content: "\f113";
}
.icon-mat-add_circle:before {
    content: "\f114";
}
.icon-mat-add:before {
    content: "\f115";
}
.icon-mat-app_registration:before {
    content: "\f116";
}
.icon-mat-arrow_back:before {
    content: "\f117";
}
.icon-mat-arrow_downward:before {
    content: "\f118";
}
.icon-mat-arrow_drop_down:before {
    content: "\f119";
}
.icon-mat-arrow_forward:before {
    content: "\f11a";
}
.icon-mat-arrow_upward:before {
    content: "\f11b";
}
.icon-mat-assessment:before {
    content: "\f11c";
}
.icon-mat-assignment_return:before {
    content: "\f11d";
}
.icon-mat-attach_money:before {
    content: "\f11e";
}
.icon-mat-auto_awesome_mosaic:before {
    content: "\f11f";
}
.icon-mat-business:before {
    content: "\f120";
}
.icon-mat-cancel:before {
    content: "\f121";
}
.icon-mat-category:before {
    content: "\f122";
}
.icon-mat-check_circle:before {
    content: "\f123";
}
.icon-mat-check:before {
    content: "\f124";
}
.icon-mat-chevron_left:before {
    content: "\f125";
}
.icon-mat-chevron_right:before {
    content: "\f126";
}
.icon-mat-clear_all:before {
    content: "\f127";
}
.icon-mat-clear:before {
    content: "\f128";
}
.icon-mat-close:before {
    content: "\f129";
}
.icon-mat-cloud_upload:before {
    content: "\f12a";
}
.icon-mat-code:before {
    content: "\f12b";
}
.icon-mat-credit_score:before {
    content: "\f12c";
}
.icon-mat-dashboard:before {
    content: "\f12d";
}
.icon-mat-dataset:before {
    content: "\f12e";
}
.icon-mat-delete_filled:before {
    content: "\f12f";
}
.icon-mat-delete_sweep:before {
    content: "\f130";
}
.icon-mat-delete:before {
    content: "\f131";
}
.icon-mat-density_small:before {
    content: "\f132";
}
.icon-mat-description:before {
    content: "\f133";
}
.icon-mat-display_settings:before {
    content: "\f134";
}
.icon-mat-done_all:before {
    content: "\f135";
}
.icon-mat-done_outline:before {
    content: "\f136";
}
.icon-mat-done:before {
    content: "\f137";
}
.icon-mat-donut_large:before {
    content: "\f138";
}
.icon-mat-edit:before {
    content: "\f139";
}
.icon-mat-email:before {
    content: "\f13a";
}
.icon-mat-error:before {
    content: "\f13b";
}
.icon-mat-event:before {
    content: "\f13c";
}
.icon-mat-exit_to_app:before {
    content: "\f13d";
}
.icon-mat-expand_less:before {
    content: "\f13e";
}
.icon-mat-expand_more:before {
    content: "\f13f";
}
.icon-mat-fingerprint:before {
    content: "\f140";
}
.icon-mat-first_page:before {
    content: "\f141";
}
.icon-mat-font_download:before {
    content: "\f142";
}
.icon-mat-format_align_center:before {
    content: "\f143";
}
.icon-mat-format_align_justify:before {
    content: "\f144";
}
.icon-mat-format_align_left:before {
    content: "\f145";
}
.icon-mat-format_align_right:before {
    content: "\f146";
}
.icon-mat-format_bold:before {
    content: "\f147";
}
.icon-mat-format_clear:before {
    content: "\f148";
}
.icon-mat-format_indent_decrease:before {
    content: "\f149";
}
.icon-mat-format_indent_increase:before {
    content: "\f14a";
}
.icon-mat-format_italic:before {
    content: "\f14b";
}
.icon-mat-format_list_bulleted:before {
    content: "\f14c";
}
.icon-mat-format_list_numbered:before {
    content: "\f14d";
}
.icon-mat-format_quote:before {
    content: "\f14e";
}
.icon-mat-format_size:before {
    content: "\f14f";
}
.icon-mat-format_underlined:before {
    content: "\f150";
}
.icon-mat-fullscreen:before {
    content: "\f151";
}
.icon-mat-gas_meter:before {
    content: "\f152";
}
.icon-mat-grade:before {
    content: "\f153";
}
.icon-mat-gradient:before {
    content: "\f154";
}
.icon-mat-help_outline:before {
    content: "\f155";
}
.icon-mat-help:before {
    content: "\f156";
}
.icon-mat-history:before {
    content: "\f157";
}
.icon-mat-inbox:before {
    content: "\f158";
}
.icon-mat-info:before {
    content: "\f159";
}
.icon-mat-insert_drive_file:before {
    content: "\f15a";
}
.icon-mat-inventory_2:before {
    content: "\f15b";
}
.icon-mat-inventory:before {
    content: "\f15c";
}
.icon-mat-key:before {
    content: "\f15d";
}
.icon-mat-keyboard_arrow_down:before {
    content: "\f15e";
}
.icon-mat-keyboard_arrow_left:before {
    content: "\f15f";
}
.icon-mat-keyboard_arrow_right:before {
    content: "\f160";
}
.icon-mat-keyboard_arrow_up:before {
    content: "\f161";
}
.icon-mat-last_page:before {
    content: "\f162";
}
.icon-mat-layers:before {
    content: "\f163";
}
.icon-mat-lens:before {
    content: "\f164";
}
.icon-mat-link:before {
    content: "\f165";
}
.icon-mat-local_shipping:before {
    content: "\f166";
}
.icon-mat-lock:before {
    content: "\f167";
}
.icon-mat-medical_information:before {
    content: "\f168";
}
.icon-mat-medication:before {
    content: "\f169";
}
.icon-mat-menu_book:before {
    content: "\f16a";
}
.icon-mat-menu:before {
    content: "\f16b";
}
.icon-mat-open_in_new:before {
    content: "\f16c";
}
.icon-mat-payment:before {
    content: "\f16d";
}
.icon-mat-person:before {
    content: "\f16e";
}
.icon-mat-play_arrow:before {
    content: "\f16f";
}
.icon-mat-print:before {
    content: "\f170";
}
.icon-mat-priority_high:before {
    content: "\f171";
}
.icon-mat-receipt_long:before {
    content: "\f172";
}
.icon-mat-redo:before {
    content: "\f173";
}
.icon-mat-refresh:before {
    content: "\f174";
}
.icon-mat-remove:before {
    content: "\f175";
}
.icon-mat-rv_hookup:before {
    content: "\f176";
}
.icon-mat-search:before {
    content: "\f177";
}
.icon-mat-segment:before {
    content: "\f178";
}
.icon-mat-send:before {
    content: "\f179";
}
.icon-mat-settings:before {
    content: "\f17a";
}
.icon-mat-shopping_bag:before {
    content: "\f17b";
}
.icon-mat-skip_next:before {
    content: "\f17c";
}
.icon-mat-skip_previous:before {
    content: "\f17d";
}
.icon-mat-sms_black:before {
    content: "\f17e";
}
.icon-mat-sms_failed:before {
    content: "\f17f";
}
.icon-mat-sort:before {
    content: "\f180";
}
.icon-mat-south_west:before {
    content: "\f181";
}
.icon-mat-strikethrough_s:before {
    content: "\f182";
}
.icon-mat-style:before {
    content: "\f183";
}
.icon-mat-supervisor_account:before {
    content: "\f184";
}
.icon-mat-sync_alt:before {
    content: "\f185";
}
.icon-mat-table_rows:before {
    content: "\f186";
}
.icon-mat-text_format:before {
    content: "\f187";
}
.icon-mat-textsms:before {
    content: "\f188";
}
.icon-mat-thumb_up_off_alt:before {
    content: "\f189";
}
.icon-mat-today:before {
    content: "\f18a";
}
.icon-mat-tune:before {
    content: "\f18b";
}
.icon-mat-tungsten:before {
    content: "\f18c";
}
.icon-mat-undo:before {
    content: "\f18d";
}
.icon-mat-vertical_align_bottom:before {
    content: "\f18e";
}
.icon-mat-vertical_align_top:before {
    content: "\f18f";
}
.icon-mat-visibility_off:before {
    content: "\f190";
}
.icon-mat-visibility:before {
    content: "\f191";
}
.icon-mat-vpn_key:before {
    content: "\f192";
}
.icon-mat-warning:before {
    content: "\f193";
}
.icon-mat-workspaces:before {
    content: "\f194";
}
.icon-my-facebook:before {
    content: "\f195";
}
.icon-my-google:before {
    content: "\f196";
}
.icon-my-key:before {
    content: "\f197";
}
